h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
/*=======================================================*/
.breadcrumbs{
	display: none;
}
/*========================================================*/
.header-primary-container{
	height: 300px;
}
.header-regular .left-column{

}

.form-search .input-text{
	background:none !important;
}
.form-search .button{
	
}
.form-search .button:before{
	color: #fff;
}


/*==========================Search Top=======================================*/
.form-search{
	min-width: 36px;
	position: relative;
	width: 0%;
	border-left: 1px solid #eee;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.input-search{
    top:0;
    right:0;
    border:0;
    outline:0;
    color: #fff;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
}
.button-search{
    display:block;
    position:absolute;
    top:0;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
}
.form-search-open{
    width:100%;
}


/*==========================PRODUCTS DETAIL==================================*/

.price-box{
	border-top: none !important;
}
.product-view .short-description{
	border-bottom: 1px solid #f3f3f3;
}
.add-to-box{
	border: none !important;
}
.old-price{
	float: left;
	margin-right: 10px;
}
.product-options{
	width: 140px;
}
.dt{
	float: left;
}
.add-to-cart.left-side .qty-wrapper{
	line-height: normal;
}
.add-to-cart.left-side .button{
	background-color: #6eb0ac;
	text-transform: uppercase;
	float: right;
	height: 40px;
	width: 150px;
}
.availability{
	float: none !important;
}
.short-description{

	border-top: 1px solid #eee;
}
.std{
	padding-top: 20px;
	margin-bottom:  20px;

}
.product-view .btn-cart, .btn-checkout{
	line-height: normal;
	font-style: normal;
}
.gen-tabs .tabs-panels {
	padding: 10px !important;
}
.gen-tabs--style1 .tabs-panels{
	border: 1px solid #eee;
	padding: 10px;
}

#subscribe-form .button{
	background-color: #6eb0ac;
	color: #fff;
	font-size: 16px;
	width: 115px;
}
.footer-bottom-container{
	border-top: 1px solid #eee;
}



/*==========================Responsive=======================================*/
@media only screen and (min-width: 1191px){

}
@media only screen and (min-width:960px) and (max-width: 1190px){

}
@media only screen and (min-width: 767px) and (max-width: 959px) { 
	.header-regular .header .logo-wrapper .logo{
	width: 17%;
	}
}

@media only screen and (max-width: 766px){
	.header-regular .logo-wrapper .logo img{
		width: auto;
	}
	.header-regular .header .logo-wrapper .logo{
	width: 17%;
	}
	.std img {
		float: none;
		width: 100%;
		height: auto;
	}
}